.cu-option {
    display: flex;
    align-items: center;
    label{
     font-size: 18px;
     font-weight: 200;
     margin-right: 0.2rem;
    //  display: none;
    @media (max-width:330px) {
        display: none;
    }
    }
    select{
        padding: .5rem 0;
        border-radius: 4px;
        background-color: rgb(245, 236, 236);
        option {
            font-size: 14px;
            background-color:azure;
           
            &:before {
                content: "^";
                font-size: 18px;
                display: none;
                padding-right: 10px;
                padding-left: 5px;
                color: #fff;
                
              }
              
          }
        
    }
}