.cu-option {
    display: inline-grid;
    align-items: center;
    label{
     font-size: 18px;
     font-weight: 200;
     margin-right: 0.2rem;
    }
    select{
        padding: 0.6rem 0.3rem;
        border-radius: 4px;
        background-color: rgb(245, 236, 236);
				&::-webkit-scrollbar-thumb {
					background-color: rgb(61, 140, 243);       
				}
				&::-webkit-scrollbar {
					width: 12px;
					background-color: #f0e2e2d5;

				}
        option {
            font-size: 14px;
            background-color:azure;
            
          }
        
    }
}