.cu-option {
    display: inline-grid;
    align-items: center;
    label{
     font-size: 18px;
     font-weight:400
    }
    select{
        padding: 0.6rem 0.4rem;
        border: 1px solid #999;
        border-radius: 4px;
        background-color: rgb(246 246 246 / 84%);
				&::-webkit-scrollbar-thumb {
					background-color: rgb(61, 140, 243);       
				}
				&::-webkit-scrollbar {
					width: 12px;
					background-color: #f0e2e2d5;

				}
        option {
            font-size: 14px;
            background-color:azure;
            
          }
        
    }
}