body {
	align-items: center;
	background-color: rgb(72, 103, 241);
	display: flex;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
}

.cu-converter {
	background-color: white;
	box-shadow: 1px 1px 1px #ddd;
	max-width: 360px;
	padding: 1.3rem;
	border-radius: 6px;
	.cu-app {
		.cu-heading {
			h1 {
				font-weight: 400;
				@media (max-width:320px) {
					font-size: 1.6rem;
				}
			}
		}

			.cu-options {
				display: flex;
				justify-content: center;
				margin: 1.3rem 0;
				select{
					width: 5rem;
				}
				.icon {
					font-size: 1.8rem;
					margin:2.3rem 2.3rem 0 ;
					@media(max-width:320px) {
						margin:2.3rem .9rem 0 ;
					}
				}
			}
		}
	}
